# Set default behavior, in case users don't have core.autocrlf set.
* text=auto

#Make the textual files have the text setting, so things never have the wrong line endings.
*.java text
*.xml text
*.txt text
*.yml text
*.php text
*.html text
*.c text
*.h text
*.cpp text
*.ms text
*.msa text
*.js text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.doc binary
*.docx binary